@using SFA.DAS.EarlyConnect.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Get an apprenticeship adviser";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                There is a problem with this link
            </h1>
            <p class="govuk-body">If you pasted the web address, check your copied the entire address.</p>
            <p class="govuk-body govuk-!-margin-top-8">You can also continue by selecting your region:</p>

            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="start-page">Get an adviser in Lancashire</a>
                </li>
                <li>
                    <a class="govuk-link" href="start-page">Get an adviser in Greater London</a>
                </li>
                <li>
                    <a class="govuk-link" href="start-page">Get an adviser in North East</a>
                </li>
            </ul>

        </div>
    </div>
</main>