@{
    ViewBag.Title = "You have already completed this form";
}
<main class="govuk-main-wrapper" id="main-content" role="main">
          
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">You have already completed this form</h1>
            <p class="govuk-body govuk-!-margin-top-8">You have already completed a request on the 'Get an apprenticeship advisor' service.</p>
            <p class="govuk-body">If you are having difficulty and need support, please <a href="mailto:engage.apprenticeships@education.gov.uk?subject=Get an apprenticeship adviser service" title="Contact the apprenticeship helpdesk">email the apprenticeship helpdesk</a>.</p>
        </div>
    </div>
</main>