<div>
    <span class="govuk-caption-l">Lancashire</span>
    <h1 class="govuk-heading-xl">You'll be able to get an apprenticeship adviser soon</h1>

    <p class="govuk-body">
        Current year 13 students will be able to get an adviser soon. Come back to this site from January 2025 to register.
    </p>

    <h2 class="govuk-heading-m">How to get apprenticeship support now</h2>

    <p class="govuk-body">
        Go to the Lancashire Apprenticeship Advice page for helpful tips and tricks to Find, Apply and Succeed with apprenticeships:
        <a href="https://www.lancashireskillshub.co.uk/apprenticeship-advice/" class="govuk-link" target="_blank">https://www.lancashireskillshub.co.uk/apprenticeship-advice/</a>
    </p>
    <p class="govuk-body">
        Here you will find information about:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
        <li>what an apprenticeship is</li>
        <li>how to apply for an apprenticeship</li>
        <li>how to make your application stand out</li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Other resources</h2>

    <p class="govuk-body">Visit our <a href="https://www.apprenticeships.gov.uk/" class="govuk-link" target="_blank">Apprenticeships website </a>to learn everything you need to know about becoming an apprentice.</p>

    <p class="govuk-body">
        You can also visit the <a href="https://www.skillsforcareers.education.gov.uk/"
                                  class="govuk-link" target="_blank">Skills for Careers website </a>to find out more about your choices after you leave school.
    </p>
</div>