@media (min-width: 40.0625em) {
    .faa-pagination-wrap {
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 1020px) {
    .faa-pagination-wrap {
        display: block;
    }
}
